name: Release

on:
  workflow_call:

jobs:
  publish:
    name: Release
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
    - name: Checkout
      uses: actions/checkout@v6
      with:
        fetch-depth: 0

    - name: Setup Node
      uses: actions/setup-node@v6
      with:
        node-version: lts/*

    - name: Release Changelog
      run: npx changelogithub
      env:
        GITHUB_TOKEN: ${{ github.token }}
