name: Report

on:
  workflow_call:
    secrets:
      CC_TEST_REPORTER_ID:
        required: false
    inputs:
      has-coveralls:
        type: boolean
        default: false
      has-codeclimate:
        type: boolean
        default: false

permissions:
  contents: write

jobs:
  coveralls:
    name: Coveralls
    if: inputs.has-coveralls == true
    runs-on: ubuntu-latest

    steps:
      - name: Coveralls Report
        uses: coverallsapp/github-action@v2
        with:
          github-token: ${{ github.token }}
          parallel-finished: true

  codeclimate:
    name: CodeClimate
    if: inputs.has-codeclimate == true
    runs-on: ubuntu-latest

    steps:
      - name: Download Reports
        uses: actions/download-artifact@v4
        with:
          pattern: test-reports-*
          merge-multiple: true

      - name: CodeClimate Report
        env:
          CC_TEST_REPORTER_ID: ${{ secrets.CC_TEST_REPORTER_ID }}
          CC_TEST_REPORTER_URL: https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64
        run: |
          curl -LSs $CC_TEST_REPORTER_URL > ./cc-test-reporter && chmod +x ./cc-test-reporter
          ./cc-test-reporter sum-coverage -o - codeclimate.*.json | ./cc-test-reporter upload-coverage --input -
